form {
  input[type=text], input[type=submit] {
    border: none;
    padding: 5px 10px;
  }

  .input-big {
    width: 100%;
  }
}




/**
 * specific pages
 */
#home-search-wrp {
  input[type=text] {
    width: 100%;
  }

  input[type=submit] {
    width: 100%;
  }
}