@import "modules/verticalCentering";

html, body {
  height: 100%;
}


.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
  }
}








/***
 * special page styles
 * naming convention #<page>-<block>-<context>
 */

#home-search-wrp {
  background: #333;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99;
}

#home-info-wrp {
  position: absolute;
  width: 100%;
  height: 100%;
  background-attachment: fixed;


  .fixed {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
  }
}

#home-user-menu {
  &.menu {
    li {
      margin: 1px;
    }
  }




}