@import "static";

@media (min-width: 1200px) {
  #main-content-wrp {
    margin: 0;
    width: 100%;
    max-width: 100%;

    .main-inner-wrp {
      width: 900px;
      margin: 0 auto;
    }

    .span_8 {
      width: 75%;
    }

    .span_4 {
      width: 25%;
    }

    //margin: auto;
    //width: 900px;
    //
    //
    //main {
    //  width: 100%;
    //}
  }

  #header-dropdown-wrp {
    //width: 400px;
    //position: absolute;
    //right: 0px;
  }
}