@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon/icomoon.eot');
  src:url('fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
  url('fonts/icomoon/icomoon.ttf') format('truetype'),
  url('fonts/icomoon/icomoon.woff') format('woff'),
  url('fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e1ba";
}
.icon-glasses:before {
  content: "\e274";
}
.icon-search2:before {
  content: "\e1bb";
}
.icon-pie:before {
  content: "\e1fd";
}
.icon-basket:before {
  content: "\e0ce";
}
.icon-cog:before {
  content: "\e1df";
}
.icon-home:before {
  content: "\e000";
}
