<h1>Elemente im Vergleichskorb</h1>
    <nav id="secondary">
      <%= link_to "delete all items", :remote => true, :controller => :user_session,   :action => :delete_all_items %>
      <a class="responsive-show-inline" href="#">go to overview</a>
</nav>

