<h1>Elemente im Vergleichskorb</h1>
    <nav id="secondary">
      <%= link_to "delete all items", :remote => true, :controller => :user_session,   :action => :delete_all_items %>
      <a class="responsive-show-inline" href="#">go to overview</a>
</nav>

<ul id="food-item-list">
    <% user_session.get_user_items.each do |item| %>
      <li>
        <%= item.inspect %>
        <!--#link_to "go to element", :controller => :food_overviews, :action => :show, :api_id => item[:api_key], :food_id => item[:item_id]-->
        <%= "lalal" %>
      </li>
    <% end %>
</ul>

