/**
 * _layout.scss
 *
 * university:  University of Applied Sciences Salzburg
 * studie:      MultiMediaTechnology
 * usage:	    Multimediaprojekt 2a (MMP2a)
 * author:      - Thomas Mayrhofer (thomas@mayrhofer.at)
 *
 * About this file:
 * ----------------
 * This file is used for layout propose only.
 * Positions of elements (Responsive Breakpoints, float, margin, paddings) belonge here.
 *
 * Structure:
 * - reusable classes
 *    - in the first section are all reusable classes which are used for the whole site
 * - classes for special pages
 *    - for special pages/items (eg. "home") which are used only once is the second
 *      part of this document
 *    - for this kind of classes use a wrapper id with the following naming
 *      convention #<page>-<block>-<context>
 */

/**
 * reusable classes
 */

html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
  background: $primaryLight;

}

main {
  padding: $headerHeight 10px 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  &.menu li {
    float: left;
  }

  a {
    display: block;
  }
}

.overlay-hide {
  display: none;
}

.responsive-show {
  display: none;
}

.main-inner-wrp {
  padding-top: 50px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}

ul.info-list {
  margin-bottom: 20px;

  li {
    padding: 10px;

    &:nth-child(2n +1) {
      background: $primaryLight - 10;
    }
  }
  a {
    font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
    display: inline-block;
    text-align: right;
    float: right;
  }
  a:before {
    font-size: small;
    display: inline-block;
    padding-right: 10px;
  }
}

.error {
  h2, p {
    text-align: center;
  }

  img {
    display: block;
    margin: auto;
  }
}

.info-boxes {
  padding: 5px 10px;

  .info-boxes-wrp {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  & .info-boxes-wrp:last-child {
    border-bottom: none;
  }

  .info-boxes-wrp > .col {
    padding: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin: 5px 0;
  }

  .info-boxes-wrp > .col:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  .info-boxes-wrp > .col:nth-child(4n) {
    border-right: none;
  }

  h3 {
    margin: 0;
  }
}

#header-wrp {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: $headerHeight;
  background: $primaryBlue;

  @include box-shadow(0 0px 2px 2px $boxShadowColor);

  .logo-small-wrp {
    width: 15%;
    img {
      display: block;
      margin: auto;
    }
  }

  .icon-wrp {
    width: 25%;

    .menu {
      float: right;
    }

    a {
      position: relative;
      margin-left: 1px;
      padding: 15px;
      display: block;
    }

    a.active:after {
      position: absolute;
      content: "";
      display: block;
      margin-top: 12px;
      margin-left: -2.5px;
      z-index: 9999;

      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $primaryDark;

    }
  }

  .search-form-wrp {
    width: 50%;
  }
}

/**
 * special page styles
 * naming convention for wrapper element #<page>-<block>-<context>
 */
#home-search-wrp {
  background: $primaryBlue;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99;
  margin: 0;

  .display-table-cell {

    padding-bottom: 200px;
  }

  .container {
    max-width: 700px;
    margin: auto;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
    float: left;
    font-weight: 100;
    width: 33.33%;
    text-align: center;
    color: $primaryLight;
  }

  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: icomoon;
    display: block;
    box-sizing: content-box;
    font-size: 50px;
    background: $highlight;

    padding: 30px;
    margin: 100px auto 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
  }

  .about-arrow-wrp {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }

  .about-arrow-content {
    display: inline-block;
    padding: 5px 15px;
    background-color: #ffff00;
  }
  select {
    height: 35px;
  }
}

#home-info-wrp {
  position: absolute;
  width: 100%;
  height: 100%;
  background-attachment: fixed;

  .fixed {
    position: fixed;
    height: auto;
    left: 0;
    right: 0;
    top: 50px;
  }
}

#home-user-menu {
  text-align: center;
  color: #fff !important;
  h3 {

  }
  &.menu {
    li {
      width: 20%;
      padding: 2px;
    }

    img {

      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}

#header-dropdown-wrp {
  position: fixed;
  overflow: scroll;
  right: 0;
  z-index: 9998;
  height: 100%;
  padding: $headerHeight 10px;

  @include box-shadow(0 0px 2px 2px $boxShadowColor);

  background: $primaryDark;
  border: 2px solid black;

  ul {
    padding: 8px 0 0px;
  }

  li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $secondaryDark;
    span {
      display: block;

      &.name {
        cursor: pointer;
        display: block;
        text-overflow: ellipsis;
        width: 75%;
        white-space: nowrap;
        overflow: hidden;
        float: left;
      }

      &.info {
        display: inline-block;
        width: 25%;
        text-align: right;
      }
    }
  }

  .header > * {
    display: inline-block;
  }

  .ingredient {
    width: 50%;
    float: left;
    padding: 5px 0;

    span {
      width: 50%;
      float: left;
    }

    .simple {
      text-align: right;
      padding-right: 10px;
    }
  }

  li.compare-link-wrp {
    padding-top: 10px;
    background: #ddd;
  }
}

#form-suggestion-overlay {
  position: absolute;
  background: #ddd;
  width: 60%;
  padding: 10px;
  z-index: 9999;

  a {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }

  li:last-child a {
    border-bottom: none;
  }
}

#search-result-wrp {
  li {
    float: left;
    width: 25%;
    padding: 2px;
    margin-bottom: 20px;
  }

  a {
    position: relative;
    background: #bbb;
    height: 220px;
  }

  .content-wrp {
    padding: 10px;
  }

  .special-ingredients {
    right: 0;
    position: absolute;
    margin-right: 4px;
    z-index: 10;

    li {
      position: relative;
      width: auto;
      background: #ddd;
      padding: 10px 7px;
      margin-left: 2px;
      margin-top: -4px;

      span {
        position: absolute;
        top: -9999px;
      }
    }
  }
}

#home-info-wrp {
  .blue-bg {
    background: $primaryBlue;
    padding: 50px 0;
    margin: 20px 0 50px;

    p {
      font-size: 2em;
      color: #fff;
      margin: 0;
    }
  }

  h1 {
    text-align: center;
    font-size: 4em;
  }

  h2 {
    text-align: center;
    font-size: 3em;
  }

  p {
    text-align: center;
  }

  .container {
    margin: 0 auto;
    width: 800px;
  }
}

#search-result-load-more {
  position: relative;
  width: auto;
  text-align: center;
}

.search_bar {
  margin-left: 12%;
  .span_3 {
    padding: 5px;
  }
}

.pie:hover {
  background: #000000;
}

.radio-toolbar {
  padding-top: 5px;

  input[type="radio"] {
    display: none;
  }

  label {
    display: inline-block;
    background-color: #23996f;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
  }

  input[type="radio"]:checked + label {
    background-color: #2bdca2;
  }

}

#main-inner-wrp {
  h1 {
    margin: 0;
    margin-bottom: 70px;
    font-size: 190%;
  }

  .search-column {
    margin-left: 2%;
    width: 32%;
    float: left;
  }

  .search-column.first {
    margin-left: 0;
  }

  .search-element {
    display: block;
    padding: 10px;
    margin: 3px;
    background: $primaryBlue;
    margin-bottom: 20px;

    a {
      color: $primaryLight !important;
    }
  }
}
