

.pie-item {
  text {
    opacity: 1;
    width: 300px;
    display: block;
  }



  .pie-path {
    stroke: $primaryLight;
    stroke-width: 6px;
  }
}

.pie-chart-lines {
  stroke: $tertiaryDark;
  stroke-width: 1px;
}

#max-daily-amount {
  stroke: $secondaryLight;
  stroke-width: 2px;
}

.pie-path-back {
  fill: rgba(0,0,0,0);
}

.pie-item-back:hover {
  fill: red;
}

#ingredient-vitamin_a:hover .pie-item {
  fill:red;

}