<h1>Listing line_charts</h1>


<%= @debug.inspect %>


<svg width="<%= @window_width %>" height="<%= @window_height %>" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
  <!-- graph -->
  <% for i in 0..1%> <!-- later: foreach of the value hashes -->
    <path id="line1" d="<%= @path %>" stroke-linecap="round" stroke="#00BD97" stroke-width="4" fill="rgba(0, 189, 151, 0.2)" />
  <% end %>
</svg>

