<% if @results.length > 0 %>
    <ul>
      <% @results.each do |result| %>
          <%= result['item_id'] %>
        <li>
          <h1 class="name"><%= result['name']%></h1>
          <% result['nutritions'].each do |key, nutrition| %>
            <ul>
              <li class="<%= key %>"> <%= "[key] #{key} - [value] #{nutrition}"  %></li>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
<% else %>
    <div>
      no results found
    </div>
<% end %>
