<div id="header-wrp" class="clearfix">
  <div class="display-table">
    <div class="display-table-cell logo-small-wrp">
      <img src="assets/logo_white.svg" height="60">
    </div>
    <div class="display-table-cell search-form-wrp responsive-hide">
      <form >
        <input type="text" class="input-big" placeholder="search">
        <button class="button-search icon-search">
          <span>Search</span>
        </button>
      </form>
    </div>
    <div class="display-table-cell icon-wrp">
      <ul class="menu" id="main-menu">
        <li><a href="#user-basket" class="icon-basket active"></a></li>
        <li><a href="#user-settings" class="icon-cog"></a></li>
      </ul>
    </div>
  </div>
</div>