<%
   # university:  University of Applied Sciences Salzburg
   # studie:      MultiMediaTechnology
   # usage:	    Multimediaprojekt 2a (MMP2a)
   # author:      - Thomas Mayrhofer (thomas@mayrhofer.at)
   #              - Franziska Oberhauser
%>

<h1>Editing daily_intake</h1>

<%= render 'form' %>

<%= link_to 'Show', @daily_intake %> |
<%= link_to 'Back', daily_intakes_path %>
