/**
 * _layout.scss
 *
 * university:  University of Applied Sciences Salzburg
 * studie:      MultiMediaTechnology
 * usage:	    Multimediaprojekt 2a (MMP2a)
 * author:      - Thomas Mayrhofer (thomas@mayrhofer.at)
 *              - Franziska Oberhauser (foberhauser.mmt-b2012@fh-salzburg.ac.at)
 *
 * About this file:
 * ----------------
 * This file is used for font/text related styles
 * eg. links, paragraphs,...
 *
 * Structure:
 * - reusable classes
 *    - in the first section are all reusable classes which are used for the whole site
 * - classes for special pages
 *    - for special pages/items (eg. "home") which are used only once is the second
 *      part of this document
 *    - for this kind of classes use a wrapper id with the following naming
 *      convention #<page>-<block>-<context>
 */

@import "fontface";

/**
 * reusable classes
 */
* {
  font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
  font-weight: 100;
}

.center {
  text-align: center;
}


a {
  text-decoration: none;
  color: $primaryDark;
}

.highlighted {
  font-weight: 700;
}

/**
 * special page styles
 * naming convention for wrapper element #<page>-<block>-<context>
 */
#header-wrp {
  a {
    color: $primaryLight;
  }
}

#header-dropdown-wrp {
  color: $primaryLight;

  h1 {
    margin-top: 30px;
    font-weight: 100;
  }

  a {
    color: $primaryLight;
  }

  .header {
    font-size: 25px;
    font-weight: 100;

    .info {
      font-size: 50%;
    }
  }
}