<h1>
  <%= @basic_page.title %>
</h1>
<p>
  <%= markdown(@basic_page.body) %>
</p>
<ul id="home-user-menu" class="menu">
  <li>
    <a href="#">
      <img src="http://placehold.it/158x158">
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/158x158">
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/158x158">
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/158x158">
    </a>
  </li>
  <li>
    <a href="#">
      <img src="http://placehold.it/158x158">
    </a>
  </li>
</ul>
<%= link_to 'Edit', edit_basic_page_path(@basic_page) %> |
<%= link_to 'Back', basic_pages_path %>
