<div class="fixed">
  <div class="container">
    <h1>
      <%= @basic_page.title %>
      <% if logged_in? %>
          <%= link_to '[Edit]', edit_basic_page_path(@basic_page) %>
      <% end %>
    </h1>
  </div>
  <div class="blue-bg">
    <div class="container">
      <%= markdown(@basic_page.body) %>
    </div>
  </div>
  <div class="container">
    <ul id="home-user-menu" class="menu">
      <li>
        <a href="#">
          <img src="http://placehold.it/158x158">
          <h3>Gudrun Öhlinger</h3>
          <p>
            dskdfjljflkds
          </p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="http://placehold.it/158x158">
          <h3>Nora Sieß</h3>
          <p>
            sdfjlsdjflks jlskjfölsajflsa jföaf
          </p>
        </a>

      </li>
      <li>
        <a href="#">
          <img src="http://placehold.it/158x158">
          <h3>Marie-Therese Schweitl</h3>
          <p>
            dskfjldsjflkdsjflks
          </p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="http://placehold.it/158x158">
          <h3>Franziska Oberhauser</h3>
          <p>
             dfskdjlfjsfsjldkf
          </p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="http://placehold.it/158x158">
          <h3>Thomas Mayrhofer</h3>
          <p>
            dskfjlkdsjkdsjflkjdslf
          </p>
        </a>
      </li>
    </ul>

  </div>

</div>
